<%= form_with(model: tracked_item) do |form| %>
  <% if tracked_item.errors.any? %>
    <div style="color: red; margin: 2rem 1rem">
      <h3><%= pluralize(tracked_item.errors.count, "error") %> prohibited this tracked_item from being saved:</h3>
      <ul style="margin-top: 1rem;">
        <% tracked_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>
  <%# choose from selection %>
  <div style="margin: 0.7rem 0">
    <%= form.label :wear, style: "display: block" %>
    <%= form.select :wear, get_form_wear_options %>
  </div>
  <%# add form field where either Souvenir or Stattrak can be checked %>
  <div style="margin: 0.7rem 0">
    <%= form.label :stattrak, style: "display: block" %>
    <%= form.check_box :stattrak %>
  </div>
  <div style="margin: 0.7rem 0">
    <%= form.label :souvenir, style: "display: block" %>
    <%= form.check_box :souvenir %>
  </div>
  <div style="margin: 0.7rem 0">
    <%= form.label :item_type, style: "display: block" %>
    <%= form.select :item_type, TrackedItem.item_types.keys %>
  </div>
  <div style="display: flex; align-items: center; margin: 1.2rem 0">
    <%= form.submit tracked_item.new_record? ? "Create Tracked Item" : "Update Tracked Item", class: "btn btn-primary" %>
    <%= link_to 'Back', tracked_items_path, class: "btn btn-secondary", style: "margin: 0.4rem" %>
  </div>
<% end %>
