<tr>
  <td><%= item.id %></td>
  <td>
    <a target="_blank" href=<%= "#{item.steam_market_url}"%>>
      <%= item.item_name %>
    </a>
    -
    <a target="_blank" href=<%= "#{item.steam_market_price_overview_url}"%>>
      (json)
  </td>
  <% if item.price_overview_json && item.price_overview_json["success"] != false %>
    <td><%= item.price_overview_json["lowest_price"] %></td>
    <td></td>
  <% else %>
    <td colspan="2">failed</td>
  <% end %>
  <td>
    <%= form_with url: tracked_item_price_overview_json_path(item), method: :post, local: true do %>
      <%= hidden_field_tag :tracked_item_id, item.id %>
      <%= submit_tag "Get Price Data" %>
    <% end %>
  </td>
</tr>