<table>
  <thead>
    <tr>
      <th><%= sortable_column("ID", "id") %></th>
      <th><%= sortable_column("Name", "name") %></th>
      <th><%= sortable_column("Lowest Price", "lowest_price") %></th>
      <th><%= sortable_column("Volume Sold (24)", "volume_sold") %></th>
      <th>Refresh</th>
      <th><%= sortable_column("Last Request Time", "last_request_time") %></th>
      <th style="width:min-content; white-space: nowrap">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @tracked_items.each do |item| %>
      <%= render partial: "tracked_item", locals: { item: item } %>
    <% end %>
  </tbody>
</table>